{% extends 'layout.html' %} 
{% load static %} 

{% block title %} Home {% endblock %} 

{% block content%} 
<link rel="stylesheet" href="{% static 'css/style.css' %}"> 
<h1 class="page-title">Work with Capy!</h1> 
<br>

<div class="split-screen">
    <div class="left-side">
        <div class="hero"> 
            <div class="timer"> 
                <div class="time"> 
                    <h2 id='minutes'>25</h2>
                    <p>Minutes</p> 
                </div> 
                <div class="time"> 
                    <h2 class="colon">:</h2> 
                </div> 
                <div class="time"> 
                    <h2 id='seconds'>00</h2> 
                    <p>Seconds</p> 
                </div> 
            </div> 
            <div class="controls"> 
                <button id="start">Start</button> 
                <button id="pause">Pause</button> 
                <button id="reset">Reset</button> 
            </div> 
            <div class="capy">
                <img src="{% static 'img/Neutral Capy.png' %}" alt="Neutral Capy">
            </div>
            <div class="quote">
                <p>You've got this!</p>
            </div>
        </div> 
    </div>

    <div class="right-side">
        <div class="hero2"> 
            <section class="todolist"> 
                <h2>To-Do List</h2> 
                <div class="list"> 
                    <form method="POST" action="" style="width: 100%;"> 
                        {% csrf_token %} 
                        {{ form.item }} 
                        <button type="submit">Add Task</button> 
                    </form>
                    <p class="todo">
                    {% for item in todo %} 
                        <p>- {{ item.body }}</p>
                        <form class="delete" action="delete/{{ item.id }}/" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit">X</button>
                        </form>
                    <p>
                    {% empty %} 
                        <p>No items added</p> 
                    {% endfor %} 
                </div>
            </section>
        </div>
    </div>
</div>

<script src="{% static 'js/main.js' %}"></script> 
{% endblock %}